    @if(@ViewBag.UsuarioLogado == null){
        Layout = "MasterPageDesLogado";
} else {
        Layout = "MasterPageLogado";
    }
}

 @section styles {<link rel="stylesheet" href="/css/style-pages.css"> }

<main>

@using Sistema.Models; 
@using System.Collections.Generic; 
        
        <section id="comentarios">
            <h2>@ViewBag.Mensagem</h2>

            <div class="comments-container">
                @{
                    List<ComentarioModel> ComentariosEmEspera = (List<ComentarioModel>) @ViewData["ComentariosEmEspera"];
                }

                @if (ComentariosEmEspera.Count == 0)
                {
                    <div class="comments-container-item">
                        <h3>Não há comentários em espera</h3>
                    </div>
                } else {
                    foreach(ComentarioModel comentario in @ViewData["ComentariosEmEspera"] as List<ComentarioModel>)
                    {
                        <form class="acept-reject" action="/Comentario/Aprovar" method="POST">
                          <div class="comments-container-item">
                                <input type="hidden" name="commentId" value="@comentario.Id">
                               <h3>@comentario.Usuario.Nome</h3>
                               <h4>@comentario.DataCriacao</h4>
                                <p>@comentario.Texto</p>
                         </div>
                         <label>
                             Aceitar
                              <button type="submit" name="choice" value="aceito"><i class="fas fa-thumbs-up"></i></button>
                          </label>

                           <label>
                               Recusar
                               <button type="submit" name="choice" value="recusado"><i class="fas fa-thumbs-down"></i></button>
                         </label>
                      </form>
                    }
                }
            </div>
        </section>
</main>