@using Microsoft.AspNetCore.Http;
@using Sistema.Models; 
@using System.Collections.Generic; 

    @if(Context.Session.GetString("IdUsuario") == null){
        Layout = "MasterPageDesLogado";
} else {
        Layout = "MasterPageLogado";
    }

 @section styles {<link rel="stylesheet" href="/css/style-Index.css"> }

<body>
    <main>
        <!--Início da funcionalidade-->
        <div class="funcionalidade">
            <p>Destinado às empresas, o programa Check Point funciona como um relógio de ponto virtual que possibilita o monitoramente
                do trabalho feito à distância. Mais segurança para os colaboradores e mais eficiência para empresas
            </p>
        </div>
        <!--Fim da funcionalidade-->

        <div class="quadrado-competencias1"></div>

        <!--Início dos planos-->
        <section id="planos">
            <h1>Planos Check Point</h1>
            <div class="planos-item">
                <article class="planos-itens">
                    <h2>Experiência Grátis</h2>
                    <ul>
                        <li>Permite um usuário</li>
                        <li>Conheça o software</li>
                        <li>Funções básicas</li>
                        <li>Converse com os consultores</li>
                    </ul>
                </article>
                <article class="planos-itens">
                    <h2>Profissional R$ 19,90</h2>
                    <ul>
                        <li>Equipes de até cinco pessoas</li>
                        <li>Sofware completo</li>
                        <li>Atendimento personalizado</li>
                        <li>Help desk em até 24 horas</li>
                    </ul>
                </article>
                <article class="planos-itens">
                    <h2>Corporativo R$ 199,90</h2>
                    <ul>
                        <li>Uso ilimitado</li>
                        <li>Versão avançada do software</li>
                        <li>Atendimento personalizado</li>
                        <li>Atendimento presencial</li>
                    </ul>
                </article>
            </div>
        </section>
        <!--Fim dos planos-->

        <div class="quadrado-competencias2"></div>

            <section id="comentarios">
                <div class="comentarios-itens">

                @if (@ViewBag.UsuarioLogado != null) {

                <h6>@TempData["Mensagem"]</h6>
                <h6>O que você acha do Check Point?</h6>
                <h6>@ViewBag.UsuarioLogado</h6>
                <BR>

                <form action="/Comentario/Cadastrar" method="POST">
                    <BR>
                    <textarea class="areacomentario" name="texto"></textarea>
                    <BR>
                    <BR>
                    <input type="hidden" name="id" value="@ViewBag.UsuarioId">
                    <button class="botao"  type="submit">Comentar</button>
                </form>
                } else {

                <h6>Faça login para comentar</h6>
                <BR>
             <form>
                    <BR>
                    <textarea class="areacomentario" disabled name="texto" ></textarea>
                    <br>
                    <BR>
                    <input class="botao" type="button" onclick="location.href='/Usuario/Login';" value="Entrar">                </form>
                } 
                </div>
            </section>

        <div class="quadrado-competencias1"></div>

        <section id="comentados">

            <h8>Veja o que pensam do programa</h8>
            <BR>

                @{ List<ComentarioModel> ComentariosAceitos = (List<ComentarioModel>) @ViewData["ComentariosAceitos"]; } 
                        
                        @if(ComentariosAceitos.Count == 0) {

                            <h8>Ainda não há comentários</h8>

                        } else { 
                            foreach(ComentarioModel comentario in @ViewData["ComentariosAceitos"] as List<ComentarioModel>) {
                                <h9>@comentario.Usuario.Nome</h9>
                                <h9>@comentario.DataCriacao</h9>
                                <p>@comentario.Texto</p>
                                <BR>
                            } }
        </section>

        <div class="quadrado-competencias2"></div>

        <!--Início dos contatos-->
        <section id="contatos">
            <div class="contatos-itens">
                <article class="contatos-item1">
                    <h2>Fale conosco:
                        <br>(11) 9286-1722</h2>
                </article>
                <article class="contatos-item2">
                    <h3>
                        <a href="/Pages/Duvidas">Tire as dúvidas
                            <BR>mais frequentes</a>
                    </h3>
                </article>
            </div>
        </section>
        <!--Fim dos contatos-->

    </main>

</body>

</html>